#timer-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#timer-container:focus{
    outline: none;
}

#timer-text{    
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Exo', sans-serif;
    font-size: 15rem;
    color: #FFFFFF;
    padding-top: 2%;
    cursor: pointer;
    position: relative;
}

#manual-input{
    background-color: transparent;
    border: 0.5px solid white;
    margin: 5px;
    text-align: center;
    width: 35%;
    font-size: 15rem;
    font-family: 'Exo', sans-serif;
    color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
    #timer-text{
        /* font-size: 10rem; */
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 576px) {
    #timer-text{
        font-size: 8rem;
        margin-bottom: 0.5rem;
    }
}

