#avg-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

#dashboard{
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: whitesmoke;
    height: 25vh;
    width: 100vw;
    color: #939393;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

#s_section{
    border-right: 1px solid grey;
    background-color: whitesmoke;
}

#chart_section{
    background-color: whitesmoke;
}

#recorded_times{
    font-size: 0.7em;
    text-align: left;
    background-color: white;
}

#main_stats{
    font-size: 0.7em;
    text-align: left;
}

#settings{
    font-size: 0.7em;
    text-align: left;
    margin-left: 1%;
}

#scramble_settings{
    font-size: 0.7em;
    text-align: left;
}

#avg-text{
    font-size: 2em;
    line-height: 1em;
    color: #FFFFFF;
}

#reset-button{
    border-color: #939393;
    color: #939393;
    margin-right: 2px;
}

#reset-button:hover{
    color: #FFFFFF;
}