#avg-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

#s_section{
    background-color: whitesmoke;
}

#chart_section{
    background-color: whitesmoke;
}

#recorded_times{
    font-size: 0.7em;
    text-align: left;
    background-color: white;
    overflow: auto;
}

#main_stats{
    font-size: 0.7em;
    text-align: left;
}

#settings{
    font-size: 0.7em;
    text-align: left;
    margin-left: 1%;
}

#scramble_settings{
    font-size: 0.7em;
    text-align: left;
}

#avg-text{
    font-size: 1.3em;
    line-height: 1em;
    color: #FFFFFF;
}

#reset-button{
    border-color: #939393;
    color: #939393;
    margin-right: 2px;
    font-size: 1em;
}

#reset-button:hover{
    color: #FFFFFF;
}

#dashboard{
    color: #939393;
    font-weight: 500;
    font-size: 1.2em;
}


@media only screen and (min-width: 1400px){
    #dashboard{
        position:absolute;
        bottom: 0;
        display: flex;
        height: 25vh;
        width: 100vw;
        color: #939393;
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
    }

    #s_section{
        border-right: 1px solid grey;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 768px){
    #dashboard{
        display: flex;
        position:absolute;
        bottom: 0;
        height: 25vh;
        width: 100vw;
        color: #939393;
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
    }

    #s_section{
        border-right: 1px solid grey;
    }
}

@media only screen and (max-width: 768px) and (min-width:480px){
    #s_section{
        border-bottom: 1px solid grey;
        padding-bottom: 2%;
        background-color: whitesmoke;
    }
}


@media only screen and (max-width: 480px){
    #s_section{
        border-bottom: 1px solid grey;
        padding-bottom: 2%;
        background-color: whitesmoke;
    }

    #dashboard{
        display: flex;
        position:absolute;
        bottom: 0;
        height: 25vh;
        width: 100vw;
    }
}

@media only screen and (orientation: portrait){
    #dashboard{
        display: flex;
        position:absolute;
        bottom: 0;
        height: 25vh;
        width: 100vw;
        color: #939393;
        font-weight: 500;
        font-size: 1.2em;
        text-align: center;
    }
}
