#timer-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#timer-container:focus{
    outline: none;
}

#timer-text{
    font-family: 'Exo', sans-serif;
    font-size: 15em;
    color: #FFFFFF;
    padding-top: 4%;
}

#avg-text{
    font-family: 'Exo', sans-serif;
    font-size: 2em;
    line-height: 1em;
    color: #FFFFFF;
}
