#avg-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

#stats_section{
    background-color: transparent;
}

#data_section{
    background-color: transparent;
}

#chart_section{
    background-color: transparent;
}

#recorded_times{
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    height: 10rem;
    width: auto;
    padding: 0.5rem;
    overflow: auto;
    color: #483d8b;
}

canvas {
    background-color: white;
    height: 10rem;
    width: auto;
    padding: 0.2rem;
}


#settings{
    font-size: 0.7rem;
    text-align: left;
    margin-left: 1%;
}

#scramble_settings{
    font-size: 0.7rem;
    text-align: left;
}

#avg-text{
    font-size: 1.3rem;
    line-height: 1rem;
    color: lightgrey;
}

#reset-button{
    border-color: #FFFFFF;
    color: #FFFFFF;
    margin-right: 2px;
    font-size: 1rem;
    font-weight: 500;
}

#reset-button:hover{
    color: #483d8b;
    background-color: white;
}

#dashboard_header{
    font-size:1.5rem;
    font-weight: 700;
}

#dashboard{
    position:absolute;
    background-color: transparent;
    bottom: 0;
    font-size: 1rem;
    font-weight: 200;
    border-top:1px solid white;
    height: 25%;
    width: 100%;
    color: #FFFFFF;
    text-align: left;
    overflow: auto;
    padding: 1rem;
}


