#simplict{
    display: block;
    height: 100vh;
    width: 100vw;
    background-image: url("/src/Assets/Sublime.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

