#simplict{
    display: flex;
    height: 75vh;
    background-image: url("/src/Assets/Sublime.jpg");
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

#dashboard{
    background-color: rgba(240, 240, 240, 0.5);
    height: 25vh;
    width: 100%;
    color: #939393;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

#s_section{
    border-right: 1px solid grey;
}

#recorded_times{
    font-size: 0.7em;
    text-align: left;
    background-color: white;
}

#main_stats{
    font-size: 0.7em;
    text-align: left;
}

#settings{
    font-size: 0.7em;
    text-align: left;
    margin-left: 1%;
}

#scramble_settings{
    font-size: 0.7em;
    text-align: left;
}